/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    text-align: center;
    padding:40px 0;
}

div.container {
    width:1000px;
    margin:0 auto;
    text-align: left;
    padding-bottom:40px;
    margin-bottom:40px;
    border-bottom:2px solid #404040;
}

div.container .content
{
    width:630px;
    display:inline;
    float:left;
    margin:0 40px 0 0;
}

div.container .sidebar
{
    width:330px;
    display:inline;
    float:left;
}

.nav-horizontal {
    width:1000px;
    padding: 0;
    margin:20px auto;
    text-align: left;
    border-bottom:2px solid #404040;
}

.nav-horizontal li {
    list-style: none;
    margin:0;
    padding:0;
    display:inline;
    float:left;
}

.nav-horizontal li.current a
{
    background:red;
    color:#fff;
}

.nav-horizontal li a {
    text-decoration: none;
    display:block;
    padding:10px;
    color:#404040;
}

div.pagination ul {
    overflow:hidden;
    text-align:center;
    margin:40px 0;
    padding:0;
}

div.pagination ul li {
    display:inline;
    list-style: none;
}

div.pagination ul li a,
div.pagination ul li span {
    display:inline-block;
    width:30px;
    height:30px;
    text-align: center;
}

ul.breadcrumb {
    padding:0;
    margin:20px 0;
    overflow: hidden;
}

ul.breadcrumb li {
    list-style: none;
    display:inline;
    float: left;
}

ul.breadcrumb li a,
ul.breadcrumb li a:visited {
    color:#404040;
    display:block;
    text-decoration: none;
    font-size: 12px;
    float:left;

}

ul.breadcrumb li span {
    display: block;
    float:left;
    font-size: 12px;
    margin: 0 4px;
    color:red;
}

div.author {
    margin:40px 0;
    padding:40px 0;
    border-top:2px solid #404040;
    border-bottom:2px solid #404040;
}

div.author h2 {
    margin-top:0;
}

.author-photo,
.author-bio {
    display:inline;
    float:left;
}

.author-photo {
    width:90px;
    margin:0 20px 0 0;
}

.author-bio {
    width:690px;
}

ul.nav-blogTags,
ul.nav-blogCategories
{
    padding:0;
    margin:0;
}

ul.nav-blogTags li {
    list-style: none;
    display:inline-block;
    margin:4px;
}

ul.nav-blogCategories li {
    list-style: none;
}

ul.nav-blogTags li a,
ul.nav-blogTags li a:visited
{
    display:block;
    text-decoration: none;
    background:#404040;
    color:#fff;
    padding:4px 10px;
}

.content img {
    max-width:100%;
    height:auto !important;
}